.project__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectHeader__imageContainer{
    margin-top: 20px;
    height: min-content;
    flex-basis: 80%;
    box-shadow: 0 0 4px var(--color-white);
}

.projectHeader__image{
    display: block;
    width: 100%;
    padding: 5px;
}