.resumeHeader__navbar{
    animation: fade-in .5s ease-in-out 1.3s both;
}

.resume_goToTopContainer,
.resume_goToTopContainer--hidden{
    position: fixed;
    top: 20%;
    right: 0;
    background-color: var(--color-white);
    padding: 10px 10px;
    border-radius: 50% 0 0 50%;
    opacity: 1;
    z-index: 900;
}

.resume_goToTopContainer{
    animation: fromRight .4s ease-in-out both;
}

.resume_goToTopContainer:focus-visible{
    outline: 3px solid var(--color-white);
    outline-offset: 2px;
    background-color: var(--color-green-lighter);
}

.resume_goToTopContainer:focus-visible .resume_goToTopIcon{
    filter: invert(0);
}

.resume_goToTopContainer--hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none; /* Para evitar interacciones mientras está oculto */
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}


@keyframes fromRight {
    from{
        transform: translateX(50px);
    }to{
        transform: translateX(0px);
    }
}

.resume_goToTopIcon{
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 2px;
    width: 30px;
    filter: invert();
    transform: rotate(180deg);
}

.resumeHeader__navbarList{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-weight: 400;
    border-radius: 20px;

    position: relative;
    overflow: hidden;

    z-index: 900;
    transition: background-color .3s ease-in-out;
}

.resumeHeader__bg{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -10;
    opacity: 0;

    transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}

.resumeHeader__navbarItem{
    position: relative;
}

.resumeHeader__navbarItem:hover .resumeHeader__bg{
    background-color: var(--color-green-lighter);
    opacity: 0.6;
}

.resumeHeader__navbarItem::after{
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 60%;
    background-color: var(--color-white);
}

.resumeHeader__navbarItem:last-child::after{
    content: "";
    display: none;
}

.resumeHeader__navbarLink:first-child{
    padding-left: 35px;
}

.resumeHeader__navbarLink:last-child{
    padding-right: 35px;
}

.resumeHeader__navbarLink{
    padding: 10px 30px;
}

.resumeHeader__navbarLink:focus-visible{
    outline: none;
    background-color: var(--color-green-lighter);
    position: relative;
}

.resume__content{
    margin: 0 100px;
    margin-top: 60px;
    color: var(--color-white);
}

.resume__articleTitle{
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px var(--color-green-lighter);

    position: relative;

    margin-bottom: 15px;
}

.resume__articleTitle::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    border-radius: 10px;
    position: absolute;
    bottom: -7px;
    left: 0;
    box-shadow: 2px 2px 20px 3px var(--color-green-lighter);

}

.resume__download{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.resume__downloadLink{
    color: var(--color-white);
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid var(--color-white);
    padding: 10px 10%;

    transition: background-color .3s ease-in-out;
}

.resume__downloadLink:focus-visible{
    outline: 2px solid var(--color-white);
    background-color: var(--color-green-light);
}

.resume__downloadLink:hover{
    background-color: var(--color-green-light);
}

@media screen and (max-width: 1400px) {
    .resume__content{
        margin: 60px 0 0 0;
    }
    
}

@media screen and (max-width: 767px) {

    .resumeHeader__navbarLink:first-child{
        padding-left: 20px;
    }
    
    .resumeHeader__navbarLink:last-child{
        padding-right: 20px;
    }
    
    .resumeHeader__navbarLink{
        font-size: .9rem;
        padding: 10px 20px;
    }

}

@media screen and (max-width: 600px) {

    .resumeHeader__navbarList{
        flex-wrap: wrap;
        justify-content: center;
    }

    .resumeHeader__navbarItem{
        flex-basis: 40%;
        /* font-size: 2.4dvw; */
    }

    .resumeHeader__navbarItem:nth-child(2):after{
        display: none;
    }

    .resumeHeader__navbarLink{
        text-align: center;
    }

}

@media screen and (max-width: 480px) {

    .resumeHeader__navbarLink:first-child{
        padding-left: 10px;
    }
    
    .resumeHeader__navbarLink:last-child{
        padding-right: 10px;
    }
    
    .resumeHeader__navbarLink{
        font-size: .8rem;
        padding: 10px 10px;
    }

}