.headerLogo__link {
    /* color: #F4F4F5; */
    color: #dfe23d;
    text-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        3px  2px 0.2px black;
    width: 52px;
    cursor: pointer;
    font-size: 1.6rem;
    margin-bottom: 4.5px;
    font-weight: 800;
    transition: width .5s ease-in-out;
    interpolate-size: allow-keywords;
    filter: blur(0.1px);
}

.headerLogo__link:hover {
    width: 175px;
    transition: width .5s ease-in-out;
}

.headerLogo__link--collapsed:hover {
    width: 60px;
    transition: width .5s ease-in-out;
}

.headerLogo__textContainer{
    letter-spacing: 3px;
    font-size: 1.4rem;
}

.headerLogo__finalText{
    display: inline-block;
    width: 0%;
    overflow: hidden;

    vertical-align: bottom;

    transition: width .5s ease-in-out;
    interpolate-size: allow-keywords;
}

.headerLogo__link:hover .headerLogo__finalText{
    width: auto;
    transition: width .5s ease-in-out;
}

.headerLogo__braceLeft, .headerLogo__braceRight{
    font-size: 1.6rem;
    transition: padding .2s .5s ease-in-out;
}

.headerLogo__braceLeft--collapsed, .headerLogo__braceRight--collapsed{
    transition: padding .3s ease-in-out;
}

.headerLogo__braceLeft{
    padding-right: 4px;
}

.headerLogo__braceRight{
    padding-left: 4px;
}

.headerLogo__link:hover .headerLogo__braceLeft{
    padding-right: 6px;
    transition: padding .3s ease-in-out;
}

.headerLogo__link:hover .headerLogo__braceRight{
    padding-left: 6px;
    transition: padding .3s ease-in-out;
}