.header__Container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link:hover .header__logoBraceLeft{
    padding-right: 5px;
    transition: padding .3s ease-in-out;
}

.header__link:hover .header__logoBraceRight{
    padding-left: 5px;
    transition: padding .3s ease-in-out;
}

.header__link:hover .header__aboutIcon{
    padding-right: 5px;
}

.header__links{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__link{
    height: 100%;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
}

.header__aboutIcon{
    cursor: pointer;
}

