.header__links{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.headerLinks__pageLink{
    height: 100%;
    font-weight: 800;
    font-size: 1.1rem;
    color: black;
    display: flex;
    align-items: center;
    text-shadow: none;
    transition: color .2s ease-in-out, text-shadow .2s  ease-in-out;
}

.headerLinks__pageLink--active{
    color: var(--color-yellow);
    text-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        4px  3px 0.2px black;
}

.headerLinks__pageLink:hover{
    color: var(--color-yellow);
    text-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        4px  3px 0.2px black;
    transition: color .2s ease-in-out, text-shadow .2s ease-in-out;
}

.headerLinks__pages{
    display: flex;
    gap: 2rem;
}

.headerLinks__social{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headerLinks__socialLink{
    height: 28px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: transform .3s ease-in-out;
}

.headerLinks__socialLink:hover{
    transform: scale(1.2);
}

.headerLinks__icon{
    width: 28px;
    height: 28px;
}

@media screen and (max-width: 1440px) {

    .headerLinks__pageLink{
        font-size: 1rem;
    }

    .headerLinks__icon{
        width: 25px;
        height: 25px;
    }
}


@media screen and (max-width: 1024px) {
    .header__links{
        background-color: var(--color-white-contrast);
        padding: 50px;
        flex-direction: column;
        gap: 60px;
    }

    .headerLinks__pages{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        z-index: 900;
    }

    .headerLinks__pageLink{
        font-size: 1.2rem;
    }

    .headerLinks__social{
        flex-wrap: wrap;
        z-index: 900;
        justify-content: center;
    }

    .headerLinks__socialLink{
        width: 80%;
        border-radius: 10px;
        
        justify-content: center;
        height: 38px;
    }

    .headerLinks__socialLink:hover{
        transform: scale(1.1);
    }

    .headerLinks__icon{
        width: 32px;
        height: 32px;
    }

    .headerLinks__socialLink:first-child{
        background-color: #000000;
    }

    .headerLinks__socialLink:nth-child(2){
        background-color: #007EBB;
    }


    .headerLinks__socialLink:nth-child(3){
        background-color: #ED1D24;
    }

    .headerLinks__socialLink:nth-child(4){
        background-color: #39995B;
    }
}