.headerLogo__link {
    color: var(--color-white);
    text-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        3px  2px 0.2px black;
    width: 58px;
    cursor: pointer;
    font-size: 1.6rem;
    white-space: nowrap;
    margin-bottom: 4.5px;
    font-weight: 800;
    transition: width .5s ease-in-out, color .5s .2s ease-in-out;
    interpolate-size: allow-keywords;
    position: relative;
    z-index: 1000;
}

.headerLogo__link:focus-visible{
    outline: none;
}

.headerLogo__link:focus-visible::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -7px;
    right: -5px;
    bottom: -10px;
    border: 2px solid var(--color-white); /* Contorno con aire */
    border-radius: 8px;
}

.headerLogo__link:hover {
    color: var(--color-yellow);
    width: 179px;
    transition: width .5s ease-in-out, color 1s .5s ease-in-out;
}

.headerLogo__link--collapsed:hover {
    color: var(--color-white);
    width: 60px;
    transition: width .5s ease-in-out, color 0.7s ease-in-out;
}

.headerLogo__textContainer{
    letter-spacing: 3px;
    font-size: 1.4rem;
}

.headerLogo__finalText{
    display: inline-block;
    /* width: 0%; */
    overflow: hidden;

    vertical-align: bottom;

    transition: width .5s ease-in-out;
}

.headerLogo__braceLeft, .headerLogo__braceRight{
    display: inline-block;
    font-size: 1.6rem;
    transition: padding .2s .5s ease-in-out;
}

.headerLogo__braceLeft--collapsed, .headerLogo__braceRight--collapsed{
    transition: padding .3s ease-in-out;
}

.headerLogo__braceLeft{
    padding-right: 6px;
}

.headerLogo__braceRight{
    padding-left: 4px;
}

.headerLogo__link:hover .headerLogo__braceLeft{
    padding-right: 8px;
    transition: padding .3s ease-in-out;
}

.headerLogo__link:hover .headerLogo__braceRight{
    padding-left: 6px;
    transition: padding .3s ease-in-out;
}


@media screen and (max-width: 1024px){

    .headerLogo__link {
        scale: 1.1;
    }
}