.header__links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.headerLinks__pageLink{
    transform: translateY(2px);
    position: relative;
    height: 105%;
    font-weight: 800;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    text-shadow: none;
    transition: transform .2s ease-in-out;
}

.headerLinks__pageLink--active{
    transform: translateY(-1px);
}

.headerLinks__pageLink:hover{
    transform: translateY(-1px);
}

.headerLinks__pageItem .headerLinks__pageLink::after,
.headerLinks__pageItem .headerLinks__pageLink--active::after{
    content: "";
    width: 100%;
    height: 0px;
    background-color: var(--color-yellow);
    box-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        3px  2px 0.2px black;
    position: absolute;
    top: 90%;
    transition: height .1s ease-in-out;
}

.headerLinks__pageItem{
    height: 40px;
}

.headerLinks__pageLink:focus-visible{
    outline: none;
}

.headerLinks__pageLink:focus-visible::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -8px;
    right: -8px;
    bottom: -3px;
    border: 2px solid var(--color-blue-dark); /* Contorno con aire */
    border-radius: 8px;
}

.headerLinks__pageItem .headerLinks__pageLink--active::after{
    height: 3px;;
}

.headerLinks__pageItem:hover .headerLinks__pageLink::after {
    height: 3px;
}

.headerLinks__pages{
    height: 100%;
    display: flex;
    gap: 2rem;
}

.headerLinks__social{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headerLinks__socialLink{
    height: 28px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.headerLinks__socialLink:focus-visible{
    outline: none;
    position: relative;
    overflow: visible;
}

.headerLinks__socialLink:focus-visible::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid var(--color-blue-dark);
    border-radius: 8px;
    /* background-color: aqua; */
}   

.headerLinks__socialItem{
    transition: transform .3s ease-in-out;
}

.headerLinks__socialItem:hover{
    transform: scale(1.2);
}

.headerLinks__icon{
    width: 28px;
    height: 28px;
}

@media screen and (max-width: 1440px) {

    .headerLinks__icon{
        width: 25px;
        height: 25px;
    }
}


@media screen and (max-width: 1024px) {
    .header__links{
        height: 100%;
        background-color: var(--color-white-contrast);
        padding: 50px;
        flex-direction: column;
        gap: 60px;
    }

    .headerLinks__pages{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        z-index: 900;
        height: auto;
    }

    .headerLinks__pageLink{
        font-size: 1.1rem;
    }

    .headerLinks__social{
        flex-wrap: wrap;
        z-index: 900;
        justify-content: center;
    }

    .headerLinks__socialItem{
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
    }

    .headerLinks__socialLink{
        justify-content: center;
        height: 38px;
    }

    .headerLinks__socialItem:hover{
        transform: scale(1.1);
    }

    .headerLinks__icon{
        width: 32px;
        height: 32px;
    }

    .headerLinks__socialItem:first-child{
        background-color: #000000;
    }

    .headerLinks__socialItem:nth-child(2){
        background-color: #007EBB;
    }


    .headerLinks__socialItem:nth-child(3){
        background-color: #ED1D24;
    }

    .headerLinks__socialItem:nth-child(4){
        background-color: #39995B;
    }
}