.projectFilters{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.techFilters{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px)); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4vw;
    row-gap: 40px;
}

.techFilters__techFilter{
    flex: 0 1 30%;
    max-width: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    cursor: pointer;
    position: relative;

    color: white;
    font-weight: 400;
    font-size: .9rem;

    transition: scale .2s ease-in-out;
}

.techFilters__techFilter:hover{
    scale: 1.1;
}

.techFilter__checkbox,
.otherFilter__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: auto; /* Importante */
}

.techFilter__icon,
.otherFilter__icon{
    display: none;
}

.techFilter__checkbox:focus-visible + .techFilter__icon{
    display: block;
    position: absolute;
    top: -33px;
    left: -20px;
    right: 10px;
    margin: 10px;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    outline: 2px solid var(--color-white);
    border-radius: 5px;
}

.otherFilter__checkbox:focus-visible + .otherFilter__icon {
    display: block;
    position: absolute;
    top: -33px;
    left: -20px;
    right: 10px;
    margin: 10px;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    outline: 2px solid var(--color-white);
    border-radius: 5px;
}

.techFilter__checkbox:focus{
    outline: 2px solid red;
}

.techFilters__techFilter:has(.techFilter__checkbox:checked)::before,
.otherFilters__otherFilter:has(.otherFilter__checkbox:checked)::before {
    height: 3px;
}

.techFilters__techFilter:has(.techFilter__checkbox:checked)::after,
.otherFilters__otherFilter:has(.otherFilter__checkbox:checked)::after{
    height: 8px;
}

.techFilters__techFilter:has(.techFilter__checkbox:checked),
.otherFilters__otherFilter:has(.otherFilter__checkbox:checked){
    scale: 1.05;
}

.techFilter__checkbox:checked ~ .techFilter__image{
    fill: blue;
}

.techFilter__image{
    position: relative;
    width: 70px;
    /* transition: scale .2s ease-in-out; */
}

.techFilters__techFilter::before,
.otherFilters__otherFilter::before{
    content: "";
    width: 80%;
    height: 0px;
    background-color: var(--color-yellow);
    box-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        3px  2px 0.2px black;
    position: absolute;
    bottom: -10%;
    left: 10%;
    transition: height .1s ease-in-out;
}

.otherFilters__otherFilter::before{
    bottom: -23%;
}

.techFilters__techFilter::after,
.otherFilters__otherFilter::after{
    content: "";
    width: 8px;
    height: 0px;
    border-radius: 50%;
    background-color: var(--color-yellow);
    box-shadow: 
        -1px -1px 0.2px black,
        1px -1px 0.2px black,
        -1px  1px 0.2px black,
        3px  2px 0.2px black;
    position: absolute;
    top: -15px;
    left: calc(50% - 4px);
    transition: height .1s ease-in-out;
}

.otherFilters__otherFilter::after{
    top: -13px;
}

/*---------- OTHER FILTERS ----------*/

.otherFilters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.otherFilters__otherFilter{
    font-size: .9rem;
    color: var(--color-white);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    position: relative;

    cursor: pointer;
    transition: scale .2s ease-in-out;
}

.otherFilter__image{
    width: 35px;
}

.otherFilters__otherFilter:hover{
    scale: 1.05;
}


@media screen and (max-width: 1024px) {
    .techFilters__techFilter {
        flex: 0 1 30%;
        max-width: 60px;
        min-width: 50px;
    }

    .techFilter__image {
        position: relative;
        width: 50px;
        /* transition: scale .2s ease-in-out; */
    }
}

/* @media screen and (max-width: 776px) {

    .techFilters {
        column-gap: 4vw;
        row-gap: 40px;
    }

    .techFilters__techFilter {
        max-width: 80px;
        min-width: 80px;

        font-size: 0.75rem;
    }

    .techFilter__image {
        width: 60px;
        /* transition: scale .2s ease-in-out; */
    }

} */