.projectSorter{
    margin: 50px 72px 0 72px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    color: var(--color-white);

    position: relative;
}

.projectSorter__sortBy{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

.projectSorter__title{
    font-size: .9rem;
    font-weight: 300;
}

.projectSorter__sorters{
    display: flex;
    gap: 10px;
}

.projectSorter__sorter{
    font-weight: 500;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.315);
    /* outline: 1px solid rgba(255, 255, 255, 0.212); */
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.212);
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: color .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out;

    display: flex;
    align-items: center;
}

.projectSorter__sorter:hover{
    border: 1px solid var(--color-yellow-trans);
    box-shadow: 2px 2px 5px var(--color-yellow-trans);
    color: var(--color-yellow);
}

.projectSorter__sorter--checked{
    border: 1px solid var(--color-yellow-trans);
    box-shadow: 2px 2px 5px var(--color-yellow-trans);
    color: var(--color-yellow);
}

.projectSorter__order{
    display: flex;
    align-items: center;
    cursor: pointer;

    position: relative;
}

/* .projectSorter__orderCheckbox{
    display: none;
} */

.projectSorter__orderCheckbox{
    position: absolute;
    opacity: 0;
    pointer-events: auto; /* Importante */
}

.projectSorter__icon{
    display: none;
    
}

.projectSorter__orderCheckbox:focus-visible + .projectSorter__icon{
    display: block;
    position: absolute;
    top: -15px;
    left: -20px;
    margin: 10px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    outline: 1px solid var(--color-white);
    border-radius: 5px;
}