.homeHeader{
    margin-top: 25px;
    width: 100%;
    min-height: 100dvh;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    column-gap: 30px;

}

.homeHeader__homeFigure{
    grid-area: homeFigure;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding-top: 15px;
    /* margin-top: 25px; */
    position: relative;
}

.homeFigure__techItem{
    position: absolute;
    z-index: 800;
}

.homeFigure__techItem--node{
    top: 18%;
    left: 0;
    animation: fade-in .5s ease-in-out 1.3s both;
}

.homeFigure__techItem--express{
    scale: .9;
    top:  7%;
    left: 10%;
    animation: fade-in .5s ease-in-out 1.4s both;
}

.homeFigure__techItem--vanilla{
    scale: .98;
    top:  3%;
    left: 26%;
    animation: fade-in .5s ease-in-out 1.5s both;
}

.homeFigure__techItem--react{
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    animation: fade-in .5s ease-in-out 1.6s both;
}

.homeFigure__techItem--mongodb{
    top:  3%;
    right: 25%;
    animation: fade-in .5s ease-in-out 1.7s both;
}

.homeFigure__techItem--mysql{
    top:  7%;
    right: 10%;
    animation: fade-in .5s ease-in-out 1.8s both;
}

.homeFigure__techItem--firebase{
    top: 18%;
    right: 0;
    animation: fade-in .5s ease-in-out 1.9s both;
}

.homeHeader__homeFigure{
    /* width: 500px;
    height: 500px; */
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block; /* Evita espacios extra como si fuera una imagen inline */
    padding-top: 40px;
    position: relative;
    align-self: center;
    padding: 4% 8% 0 8%;
    /* width: fit-content; */
}

.homeIllustration{
    scale: 90%;
    animation: fade-in .5s ease-in-out 2s both;
}

/* .homeHeader__img{
    width: 80%;
} */

.homeFigure__techIcon{
    cursor: pointer;
    width: 90px;
    transform: rotate3d(0, 1, 0, 25deg);
    transition: scale .3s ease-in-out, filter .3s ease-in-out;
}

.homeFigure__techIcon:hover,
.homeFigure__techIcon--focused{
    filter: drop-shadow(0px 0px 5px var(--color-white));
    scale: 1.2;
}

.homeFigure__techIcon--focused{
    /* outline: 2px solid var(--color-white); */
    border-radius: 20px;
}

/*---------*/

.homeHeader__title{
    justify-self: center;
    margin-bottom: 40px;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 300;
    max-height: fit-content;

    animation: fade-in .5s ease-in-out 1.3s both;
}

.homeHeader__titleSeparator{
    margin: 0 15px;
}

.homeHeader__description{
    grid-area: homeDescription;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: white;
    text-transform: uppercase;
}

.homeHeader__abilities{
    grid-area: homeAbilities;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.homeHeader__ability > b{
    font-size: 1.2rem;
    border: 1px solid var(--color-green-lighter);
    padding: 5px 15px;
    box-shadow: 1px 1px 10px var(--color-green-lighter);
}

.homeHeader__ability > p{
    margin-top: 20px;
}

.homeHeader__ability{
    margin-top: 30px;
    text-wrap: pretty;
    max-width: 700px;
}

.homeHeader__ability:first-child{
    margin-top: 5px;
}


.homeHeader__goDownContainer{
    padding-top: 30px;
    position: relative;
    animation: fade-in 1s ease-in-out 2.1s both;
}

.homeHeader__goDownIcon{
    cursor: pointer;
    animation: float 2s ease-in-out both infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translateY(-20px);
    }100%{
        transform: translateY(0px);
    }
}

@media screen and (max-width: 680px ) {
    
    .homeHeader__title{
        font-size: 1.4rem;
    }

    .homeHeader__homeFigure{
        padding-top: 10%;
    }

    

    .homeFigure__techIcon {
    width: 75px;
    }
}

@media screen and (max-width: 580px ) {

    .homeHeader__titleSeparator{
        display: none;
    }

    .homeHeader__title{
        font-size: 1.5rem;
    }

    .homeHeader__titleName{
        display: block;
        text-align: center;
    }

    .homeFigure__techIcon{
    width: 11.5dvw;
    }

}