/*---------- HOME SPOTLIGHT ----------*/

.home__spotlight{
    /* height: calc(80dvh - 62px); */
    height: fit-content;
    min-height: 683px;
    position: relative;
    z-index: 500;

    padding-top: 50px;
    padding-bottom: 30px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

}

.home__spotlight::after{
    content: "";
    position: absolute;
    z-index: 520;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-blue-dark);
    opacity: 0.7;
}

.home__spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/images/home_header_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    z-index: -1;
}

.spotlight__section{
    margin: 20px 50px;
    position: relative;
    z-index: 600;
    /* padding: 30px; */
    height: fit-content;

    color: var(--color-white);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/*---------- ANIMATED TITLE ----------*/

#spot__animatedTitle{
    color: var(--color-white);
    font-size: 3rem;
}

#spot__animatedTitle__braceLeft,
#spot__animatedTitle__braceRight{
    font-size: 3.4rem;
}


/*---------- TITLE / IMAGE / DOWN ARROW ----------*/

.spotlight__title{
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 300;
    word-spacing: 3px;
    color: var(--color-yellow);
    animation: fade-in 1s ease-in-out 1.2s both;
}

@keyframes fade-in {
    from{
        transform: translateY(10px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.spotlight__titleSeparator{
    text-wrap: nowrap;
    font-size: 1.4rem;
}

.spotlight__imageContainer{
    margin: 20px 0;
    min-width: min-content;
    min-height: min-content;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 8px solid transparent;
    outline: 2px solid var(--color-white);
    position: relative;

    animation: fade-in 1s ease-in-out 1.5s both;
}

.spotlight__imageContainer::after{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border: 2px solid var(--color-yellow);
}

.spotlight__image{
    min-height: 100px;
    min-width: 100px;
    max-width: 250px;
    width: 100%;
    height: auto;
}

.spotlight__goDownContainer{
    padding-top: 40px;
    position: relative;
    animation: fade-in 1s ease-in-out 1.8s both;
}

.spotlight__goDownIcon{
    cursor: pointer;
    animation: float 2s ease-in-out both infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translateY(-20px);
    }100%{
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1400px){

    /*---------- HOME SPOTLIGHT ----------*/
    .home__spotlight{
        /* height: calc(80dvh - 62px);
        max-height: fit-content; */
        min-height: 623.8px;
        height: fit-content;
    }

    /*---------- ANIMATED TITLE ----------*/
    #spot__animatedTitle{
        font-size: 2.4rem;
    }

    #spot__animatedTitle__braceLeft,
    #spot__animatedTitle__braceRight{
        font-size: 2.8rem;
    }
    /*---------- TITLE / IMAGE / DOWN ARROW ----------*/
    .spotlight__title{
        margin-top: 10px;
        font-size: 1.3rem;
    }
    .spotlight__image{
        max-width: 190px;
    }
    .spotlight__goDownContainer{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .spotlight__goDownIcon{
        width: 40px;
    }
    
}

@media screen and (max-width: 1024px){

    /*---------- HOME SPOTLIGHT ----------*/
    
    .home__spotlight::before {
        background-image: url('../../../assets/images/home_header_bg_tablet.jpg');
    }

}

@media screen and (max-width: 767px){
    
    .home__spotlight::before {
        background-image: url('../../../assets/images/home_header_bg_mobile.jpg');
    }

}

@media screen and (max-width: 500px){

    /*---------- HOME SPOTLIGHT ----------*/
    .home__spotlight{
        /* min-height: 612.97px; */
        min-height: 582.98px;
        padding-top: 30px;
    }
    
    /*---------- ANIMATED TITLE ----------*/
    #spot__animatedTitle{
        font-size: 2rem;
    }

    #spot__animatedTitle__braceLeft,
    #spot__animatedTitle__braceRight{
        font-size: 2.4rem;
    }
    /*---------- TITLE / IMAGE / DOWN ARROW ----------*/

    /* .spotlight__section{
        margin-bottom: 0;
    } */

    .spotlight__title{
        margin-top: 0;
        /* margin-left: 20px;
        margin-right: 20px; */
    }

    .spotlight__titleName{
        display: block;
        position: relative;
        margin-bottom: 20px;
    }

    .spotlight__titleSeparator{
        display: none;
    }

    .spotlight__titleName::after{
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--color-yellow);
        position: absolute;
        bottom: -10px;
        left: 0;
    }

    .spotlight__image{
        max-width: 170px;
    }
    .spotlight__goDownContainer{
        padding-top: 30px;
        padding-bottom: 0;
    }
    .spotlight__goDownIcon{
        width: 40px;
    }

}