.App__header{
  background-color: var(--color-white-contrast);
  padding: 0 100px;
  height: 62px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  /* box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.267); */
}

.App__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.267);
  z-index: 900;
}

.App__main{
  margin-top: 62px;
  border-top: 1px solid transparent;
  background-color: var(--color-white);
  min-height: 100vh;
}

.App__footer{
  background-color: var(--color-white-contrast);
}

@media screen and (max-width: 1024px) {
  .App__header{
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .App__header{
    padding: 0 30px;
  }
}