:root{
  --color-yellow: #e4e12f;
  --color-yellow-trans: #e4e12f88;
  --color-white: #fffffa;
  --color-white-contrast: white;
  --color-blue-dark: #071A28;
  --color-blue-medium: #003649;
  --color-blue-light: #003649;
  --color-green-dark: #004B5B;
  --color-green-medium: #006168;
  --color-green-light: #00776F;
  --color-green-lighter: #008C70;
}

:root {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-primary);
  color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  scroll-snap-type: y mandatory;
}

body {
  overflow-x: hidden;
  max-width: 100dvw;
  height: 100%;
}

#root{
  min-width: 320px;
  min-height: 100vh;
  max-width: 100dvw;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
  cursor: pointer;
}

p a {
  display: inline;
}

ul, li{
  list-style: none;
}

h1 {
  all: unset;
}

/* ---------- REUSABLE ANIMATIONS ---------- */

.scrollReveal{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.scrollVisible{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

@keyframes fade-in {
  from{
      transform: translateY(10px);
      opacity: 0;
  }to{
      transform: translateY(0);
      opacity: 1;
  }
}