.resume__education,
.resume__experience{
    margin-top: 70px;
}

.resume__educationTitle,
.resume__experienceTitle{
    margin-bottom: 30px;
}

.resume__educationLabel,
.resume__experienceLabel{
    display: flex;
    align-items: stretch;
    justify-content: left;
    gap: 15px;
    margin-bottom: 40px;
}

.educationLabel__decorationContainer,
.experienceLabel__decorationContainer{
    margin-top: 7px;
    max-width: 16px;
    flex: 1;
    position: relative;
}

.educationLabel__decorationContainer::after,
.experienceLabel__decorationContainer::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 7.5px;
    transform: translateX(-50%);
    width: 1px;
    height: 95%;
    background-color: var(--color-white);
}

.educationLabel__decorationFigure,
.experienceLabel__decorationFigure{
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    display: block;
    position: relative;
}

.educationLabel__decorationFigure::before,
.experienceLabel__decorationFigure::before{
    content: "";
    width: 70%;
    height: 70%;
    background-color: var(--color-white);
    border-radius: 50%;

    position: absolute;
    top: 15%;
    left: 15%;
}

.educationLabel__preContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.educationLabel__content,
.experienceLabel__content{
    flex-basis: 100%;
    
}

.educationLabel__content--simple{
    flex-basis: 60%;
}

.educationLabel__titles,
.experienceLabel__titles{
    display: flex;
    align-items: baseline;
    column-gap: 50px;

    margin-bottom: 3px;
}

.educationLabel__title,
.experienceLabel__title{
    font-size: 1.3rem;
    font-weight: 300;
    text-wrap: balance;
}

.educationLabel__date,
.experienceLabel__date{
    font-size: 1.2rem;
    font-weight: 300;
    text-wrap: nowrap;
}


.educationLabel__center,
.experienceLabel__center{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.educationLabel__information,
.experienceLabel__information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 15px;
}

.educationLabel__descriptionContainer,
.experienceLabel__descriptionContainer{
    flex-basis: 70%;
}

.experienceLabel__descriptionContainer{
    flex-basis: 100%;
}

.educationLabel__description,
.experienceLabel__description{
    margin-bottom: 10px;
}

.experienceLabel__description > a{
    margin-left: 8px;
    font-weight: 600;
    text-decoration: underline;
}

.experienceLabel__description > a:hover{
    color: var(--color-green-lighter);
}

.educationLabel__seeCertficate{
    align-self: flex-start;
    height: fit-content;
    padding: 20px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    text-wrap: nowrap;
    transition: background .3s ease-in-out;
}

.educationLabel__seeCertficate:focus-visible{
    outline: 2px solid var(--color-white);
    background-color: var(--color-green-light);
}

.educationLabel__seeCertficate--only{
    align-self: center;
    margin-left: 40px;
}

.educationLabel__seeCertficate:hover{
    background-color: var(--color-green-light);
}

@media screen and (max-width: 1024px) {
    
    .educationLabel__descriptionContainer,
    .experienceLabel__descriptionContainer{
        flex-basis: 100%;
    }
    .educationLabel__content--simple{
        flex-basis: 100%;
    }

    .educationLabel__seeCertficate{
        align-self: flex-start;
        height: fit-content;
        padding: 15px 30px;
        font-size: .9rem;
        background-color: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
        text-wrap: nowrap;
        transition: background .3s ease-in-out;
    
    }

    .educationLabel__seeCertficate--only{
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .educationLabel__titles,
    .experienceLabel__titles{
        flex-wrap: wrap;
    }

    .educationLabel__title,
    .experienceLabel__title{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 580px) {

    .educationLabel__title,
    .experienceLabel__title{
        font-size: 1.1rem;
    }

    .educationLabel__date,
    .experienceLabel__date{
        font-size: 1rem;
    }

    .educationLabel__center,
    .experienceLabel__center{
        font-size: .9rem;
    }

    .educationLabel__description,
    .experienceLabel__description{
        font-size: .9rem;
    }

    .educationLabel__seeCertficate{
        font-size: .7rem;
    }
}