.resume__presentation{
    display: grid;
    grid-template-areas: 
    "photo personalInfoTitles personalLinks"
    "photo personalInfoDescription personalLinks"
    ;
    grid-template-columns: auto 40% auto;
    justify-content: space-evenly;
    /* justify-items: center; */
    align-items: center;
    column-gap: 4dvw;
    animation: fade-in .5s ease-in-out 1.5s both;
}

.resume__photoContainer{
    grid-area: photo;
    width: 100%;
    /* min-width: 100px; */
    max-width: 200px;
    /* max-height: 200px; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-self: center;

    border: 3px solid var(--color-yellow);

}

.resume__photo{
    width: 100%;
    height: 100%;
}


.resume__personalInfo{

    grid-area: personalInfo;

    /* flex-basis: 35%; */

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.personalInfo__titles{
    grid-area: personalInfoTitles;
}

.personalInfo__name{
    margin-bottom: 7px;
}

.personalInfo__role{
    margin-bottom: 15px;
    font-weight: 400;
    text-wrap: pretty;
}

.personalInfo_description{
    grid-area: personalInfoDescription;
    text-wrap: pretty;
}

.personalInfo__personalLinks{
    grid-area: personalLinks;

    /* height: 100%; */
}

.personalLinks__linkList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.personalLinks__link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.personalLinks__linkItem:hover .personalLinks__linkText{
    transform: translateY(-5px);
}

.personalLinks__linkItem:hover .personalLinks__linkText::after{
    width: 100%;
    opacity: 1;
}

.personalLinks__linkItem:hover .personalLinks__linkIcon{
    scale: 1.2;
}

.personalLinks__linkIcon{
    width: 25px;
    position: relative;
    z-index: 2;
    overflow: visible;

    transition: scale .3s ease-in-out;
}

.personalLinks__linkText::after {
    content: "";
    display: inline-block; /* o inline-block */
    width: 0%;
    height: 1px;
    background-color: var(--color-white); /* cambia a rojo para pruebas */
    position: absolute;
    bottom: -4px;
    left: 0;
    opacity: 1;
    transition: opacity .3s ease-in-out, width .3s ease-in-out;
}

.personalLinks__linkText{
    margin-top: 5px;
    position: relative;
    transition: transform .3s ease-in-out;
    text-wrap: nowrap;
}

@media screen and (max-width: 1100px) {
    
    .resume__presentation{
        grid-template-areas: 
        "photo personalInfoTitles"
        "photo personalInfoDescription"
        "personalLinks personalLinks"
        ;
        grid-template-columns: 30% auto;
        grid-template-rows: repeat(fit-content);
        column-gap: 40px;
        /* row-gap: 40px; */
    }

    .resume__photoContainer{
        justify-self: center;
    
    }

    .personalLinks__linkList{
        margin-top: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 25px;
    }

    .personalLinks__linkItem{
        flex-basis: 40%;
        justify-content: center;
    }

    .personalLinks__link{
        flex-basis: 40%;
        justify-content: center;
        gap: 15px;
    }


}

@media screen and (max-width: 767px) {

    .resume__presentation{
        grid-template-areas: 
        "photo personalInfoTitles"
        "personalInfoDescription personalInfoDescription"
        "personalLinks personalLinks"
        ;
        grid-template-columns: 30% auto;
        column-gap: 0;
    }

    .resume__photoContainer{
        max-width: 100px;
        justify-self: end;
    }

    .personalInfo__titles{
        justify-self: start;
        align-self: center;
        margin-left: 30px;
    }

    .personalInfo__name{
        margin-bottom: 0;
    }

    .personalInfo__role{
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    .personalInfo_description{
        text-align: justify;
        /* margin: 0 30px; */
        margin-top: 30px;
    }

    .personalLinks__link{
        gap: 10px;
        
    }

    .personalLinks__linkIcon{
        width: 20px;
    }

    .personalLinks__linkText{
        font-size: .95rem;
    }
}

@media screen and (max-width: 480px) {

    .resume__content{margin-top: 40px;}

    .personalInfo__name{
        font-size: 1.1rem;
    }

    .personalInfo__role{
        font-size: .9rem;
    }

    .personalLinks__linkList{
        margin-top: 25px;
    }

}